<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <!-- <script src="/send_url.js"></script> -->
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">LIST APP</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>買い物リスト作成</h1>
      </div>
      <div class="item-form-wrapper">
        <!-- <p class="form-label">id</p>
        <p class="form-label">user_id</p>
        <p class="form-label">question_detail</p>
        <p class="form-label">question_category</p>
        <p class="form-label">dead_line_data</p>
        <p class="form-label">is_closed</p>
        <p class="form-label">created_at</p>
        <p class="form-label">updated_at</p> -->
        <form action="/question/create" method="post">

            <input name="question" type="text" value="1">
            <input name="question" type="text" value="detail">
            <input name="question" type="text" value="category">
            <input name="question" type="text" value="1999-01-08">
            <input name="question" type="text" value="true">
            <input name="question" type="text" value="1999-02-04">
            <input name="question" type="text" value="1999-02-04">

            <input name="image" type="text" value="">
            <input name="image" type="text" value="1">
            <input name="image" type="text" value="https://1.bp.blogspot.com/-AGfnpRq9srA/X2rWb3DJjWI/AAAAAAABbV8/OZ5mgiCokkANsF_RK8cT_YxR83UvNir6ACNcBGAsYHQ/s210/chara_ushi_kagamimochi.jpg">
            <input name="image" type="text" value="1999-02-04">
            <input name="image" type="text" value="1999-02-04">

            <input type="submit" value="作成する">
        </form>
      </div>
      <a href="/index" class="cancel-button">もどる</a>
    </div>
  </body>
</html>
